<div id="<%= dom_id client %>">
  <ul>
    <li><strong>ID:</strong> <%= client.id %></li>
    <li><strong>Name:</strong> <%= client.name %></li>
    <li><strong>Age:</strong> <%= client.age %></li>
    <li><strong>Address:</strong> <%= client.address %></li>
    <li><strong>Last Movie:</strong> <%= client.movies.last.try(:title) %></li>
    <li><%= link_to "Show this client", client %></li>
    <li><%= link_to "Edit this client", edit_client_path(client) %></li>
    <li><%= button_to "Destroy this client", client, method: :delete, data: { confirm: "Are you sure?" } %></li>
  </ul>
</div>
